.order-total{
    color: rgb(1, 1, 34);
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}
.cart-list-length-p{
    font-size: 18px;
    color: rgb(29, 17, 17);
}
.cart-list-length{
    color: rgb(13, 2, 94);
}